@font-face {
    font-family: brasika;
    src: url(../fonts/BrasikaDisplay.ttf);
}

@font-face {
    font-family: ptserif;
    src: url(../fonts/PTSerif-Regular.ttf);
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.header {
    height: 10vh;
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-between;
    font-size: 1.15rem;
    z-index: 100;
}

.logo {
    padding: 0 3rem;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: brasika;
    font-size: 2rem;
    color: white;
}

.header-elements {
    padding: 0 3rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    column-gap: 3rem;
    color: white;
    font-family: ptserif;
}

.first-page {
    background-color: #11235A;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bgm-image {
    height: 100vh;
    width: 100vw;
    opacity: 0.3;
    display: flex;
    position: relative;
}

.first-wrapper {
    height: fit-content;
    width: fit-content;
    align-items: center;
    justify-content: center;
    position: absolute;
    display: flex;
    z-index: 2;
    flex-direction: column;
    row-gap: 1rem;
}

.first-page-title {
    margin: 0;
    padding: 0;
    font-family: brasika;
    color: white;
    font-weight: 150;
    letter-spacing: 0.15rem;
    font-size: 3rem;
}

.first-page-desc {
    margin: 0;
    padding: 0;
    color: white;
    height: fit-content;
    width: 69vw;
    font-size: 1.25rem;
    font-family: ptserif;
    text-align: center;
}

.chat {
    transform: translateY(20%);
    font-family: ptserif;
    font-size: 1.25rem;
    display: flex;
    width: 12vw;
    height: 7vh;
    border-radius: 10rem;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #11235A;
    font-weight: bolder;
}

.chat:hover {
    background-color: #EEF5FF;
}

.second-page {
    width: 100vw;
    height: 100vh;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    background-color: #EEF5FF;
}

.why-tio-title {
    transform: translateY(4.35rem);
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.second-page-title {
    padding: 0;
    margin: 0;
    color: #11235A;
    display: flex;
    position: relative;
    font-family: brasika;
}

.second-wrapper {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80%;
}

.story {
    background-color: #11235A;
    height: 100%;
    width: 33.33%;
}

.mission {
    background-color: #EEF5FF;
    height: 100%;
    width: 33.33%;
}

.vision {
    background-color: #11235A;
    height: 100%;
    width: 33.33%;
}

.story-title{
    font-family: brasika;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 150;
}

.mission-title{
    font-family: brasika;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    color: #11235A;
    font-weight: 150;
}