@font-face {
    font-family: brasika;
    src: url(../fonts/BrasikaDisplay.ttf);
}

@font-face {
    font-family: ptserif;
    src: url(../fonts/PTSerif-Regular.ttf);
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.header {
    height: 10vh;
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-between;
    font-size: 1.15rem;
    z-index: 100;
}

.logo {
    padding: 0 3rem;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: brasika;
    font-size: 2rem;
    color: white;
}

.header-elements {
    padding: 0 3rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    column-gap: 3rem;
    color: white;
    font-family: ptserif;
}

.first-page {
    background-color: #11235A;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bgm-image {
    height: 100vh;
    width: 100vw;
    opacity: 0.3;
    display: flex;
    position: relative;
}

.first-wrapper {
    height: fit-content;
    width: fit-content;
    align-items: center;
    justify-content: center;
    position: absolute;
    display: flex;
    z-index: 2;
    flex-direction: column;
    row-gap: 1rem;
}

.first-page-title {
    margin: 0;
    padding: 0;
    font-family: brasika;
    color: white;
    font-weight: 150;
    letter-spacing: 0.15rem;
    font-size: 3rem;
}

.first-page-desc {
    margin: 0;
    padding: 0;
    color: white;
    height: fit-content;
    width: 69vw;
    font-size: 1.25rem;
    font-family: ptserif;
    text-align: center;
}

.chat {
    transform: translateY(20%);
    font-family: ptserif;
    font-size: 1.25rem;
    display: flex;
    width: 12vw;
    height: 7vh;
    border-radius: 10rem;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #11235A;
    font-weight: bolder;
}

.chat:hover {
    background-color: #365486;
    color: white;
    border-color: white;
    cursor: pointer;
}

.second-page {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    background-color: white;
}

.why-tio-title {
    transform: translateY(4.35rem);
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.second-page-title {
    padding: 0;
    margin: 0;
    color: #11235A;
    display: flex;
    position: relative;
    font-family: brasika;
}

.second-wrapper {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80%;
}

.story, .vision {
    background-color: #11235A;
    height: 85%;
    width: 33.33%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fa-regular, .fa-solid{
    color: white;
    font-size: 6rem;
}

.fa-bullseye{
    font-size: 6rem;
    color: #11235A;
}

.story-desc{
    margin: 0;
    padding: 0;
    color: white;
    height: fit-content;
    width: 27vw;
    font-size: 1rem;
    font-family: ptserif;
    text-align: center;
}

.mission-desc{
    margin: 0;
    padding: 0;
    color: #11235A;
    height: fit-content;
    width: 27vw;
    font-size: 1rem;
    font-family: ptserif;
    text-align: center;
    font-weight: 600;
}

.mission {
    background-color: white;
    height: 85%;
    width: 33.33%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.story-title{
    font-family: brasika;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 150;
}

.mission-title{
    font-family: brasika;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    color: #11235A;
    font-weight: 150;
}

.button-div-second{
    display: flex;
    position: absolute;
    bottom: 0;
    left: 50%; 
    transform: translate(-50%,-50%);
}

.try-tio-second{
    font-family: ptserif;
    font-size: 1rem;
    display: flex;
    position: relative;
    width: 10vw;
    height: 5vh;
    border-radius: 10rem;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #11235A;
    font-weight: bolder;
}

.try-tio-second:hover{
    background-color: #11235A;
    color: white;
    border-color: white;
    cursor: pointer;
}

.third-page{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: row;
}

.third-left{
    height: 100vh;
    width: 40vw;
    background-color: aqua;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
}

.third-right{
    height: 100vh;
    width: 60vw;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
}

.third-wrapper{
    top: 4.5rem;
    left: 6rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    position: relative;
}

.right-title{
    position: relative;
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 4.5rem;
    font-family: brasika;
    display: flex;
    align-items: center;
    color: #11235A;
    font-weight: 150;
}

.right-desc{
    width: 47vw;
    text-align: justify;
    margin: 0;
    padding: 0;
    color: #11235A;
    font-size: 1rem;
    font-family: ptserif;
    font-weight: 600;
}